@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Button Style */

.btn_bg{
    margin-top: 32px;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    padding: 21px 24px 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;

}
.btn_bgg{
    margin-top: 32px;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    padding: 46px 42px;
    font-size:1.56rem;
    font-weight: 500;
    border: none;
    margin-top: -118px;
    margin-left: -100px;

}

.experiencee{
    font-size: 4.06rem;
    font-weight: 700;
}

*{
    margin: 0px;
}
.header_card{
    background-color:rgba(255, 144, 14, 0.1);
}


/* Header Section Style */


.navigator_card{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin:0px 223px;
    align-content: center;
}
.na{
    margin-top: 50px;
}
ul{
  display: flex;
  gap: 20px; 
  list-style: none; 

}

.nav_list{
    margin-top: 63px;
}
 ul li a{
    text-decoration: none;
    color:rgba(66, 66, 66, 1);
    font-size: 1.455rem;

 }
 .btn_bg:hover,a:hover{
    color: rgb(61, 165, 42);
    border-bottom: 2px solid rgba(255, 144, 14, 1);
    font-weight: 700;
 }
.navigator_card h3{
    font-size: 2.4125rem;
}

.nav_title{
    color: rgba(255, 144, 14, 1);
}

.brand_t{
    max-width: 862px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
.Brand_Title{
    font-size: 4rem;
    font-weight: 700;
    color:  rgba(19, 19, 19, 1);
    margin-top: 106px;
    margin-bottom: 30px;
}

.brand_description{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
}

.banner_img{
    width: 100%;
    border-radius: 8px;
}
.ban_img{
    max-width: 1440px;
    margin: 50px 223px 45px 223px;
}

.features_card{
    display: flex;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 74px;
}

.features_image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team{
    border-radius: 8px;
    width: 342px;
    height: 342px;
}

.features_title{
    font-size: 2.8rem;
    font-weight: 600;
    color: rgba(114, 114, 114, 1);
}

.our{
    color: rgba(19, 19, 19, 1);
}
.feature{
   color:  rgba(255, 144, 14, 1);
}

.feature_descrip{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
    margin-top: 24px;
}

.features_description{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* Features for All that We Provide */

.features_model{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    margin-top: 130px;
    gap: 146px;
}

.featuree_title{
    color:  rgba(19, 19, 19, 1);
    font-size:2.8rem;
    font-weight: 700;
    border-left: 5px solid  rgba(255, 144, 14, 1);
    padding-left: 20px;
    margin-bottom: 24px;
}

.feature_title{
    padding: 30px 33px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    margin-top: 30px;
    margin-bottom: 20px;
}

.feature_heading{
    color: rgba(19, 19, 19, 1);
    font-size:1.25rem;
    font-weight: 600;
}











@media screen and (max-width:576px) {

    .navigator_card{
    
    display: flex;
    flex-direction: column;
    align-items:center;
}
.banner_img{
    width:100%;
}

.ban_img{
    max-width:576px;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 45px;
}

.features_card{
    display: flex;
    flex-direction: column-reverse;
    max-width: 576px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 74px;
}

.features_image{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 24px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.features_description{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.features_model{
    max-width: 576px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 146px;
}

.feature_type{
    margin: 0 45px;
    justify-content: center;
    text-align: center;
}

.btn_bgg{
    margin-top: 30px;
    margin-left: 50px;
}

.image{
    width: 100%;

}

}