@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Button Style */

.btn_bg{
    margin-top: 32px;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    padding: 21px 24px 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;

}

*{
    margin: 0px;
}
.header_card{
    background-color:rgba(255, 144, 14, 0.1);
}

.navigator_card{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin:0px 223px;
    align-content: center;
}

ul{
  display: flex;
  gap: 20px; 
  list-style: none; 

}
 ul li a{
    text-decoration: none;
    color:rgba(66, 66, 66, 1);
    font-size: 1.455rem;

 }
 .btn_bg:hover,a:hover{
    color: rgb(61, 165, 42);
    border-bottom: 2px solid rgba(255, 144, 14, 1);
    font-weight: 700;
 }
.navigator_card h3{
    font-size: 2.4125rem;
}

.nav_title{
    color: rgba(255, 144, 14, 1);
}

.brand_t{
    max-width: 862px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
.Brand_Title{
    font-size: 4rem;
    font-weight: 700;
    color:  rgba(19, 19, 19, 1);
    margin-top: 106px;
    margin-bottom: 30px;
}

.brand_description{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
}

.banner_img{
    max-width: 862px;
    margin-top: 50px;
}














@media screen and (max-width:576px) {

    .navigator_card{
    
    display: flex;
    flex-direction: column;
    align-items:center;
}
}